header {
    width:50%;
    text-align: center;
    margin: auto;
}

#inputs {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#submit-button {
    display: flex;
    justify-content: center;
}

#result {
    width: 50%;
    height: 200px;
    margin: 20px auto;
    border: red 1px solid;
}

#result-area {
    display: flex;
    margin: auto;
}