html {
    height: 100%;
}

body { 
    height: 100%;
    margin: 0;
    background: rgb(96,203,214);
    background: linear-gradient(117deg, rgba(96,203,214,1) 20%, rgba(40,97,104,1) 80%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: rgb(255, 255, 255);
    font-size: 1em;
}

header, #info {
    width:50%;
    text-align: center;
    margin: auto;
}

#wikiLink {
    color: rgb(255, 255, 255);
}

#logo {
    width: 100%;
}

#inputs {
    width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 30px auto;
}

#inputs > .input {
    margin: 10px;
}

#submit-button {
    display: flex;
    justify-content: center;
}

#get-user-input {
    background-color: #7a828a;
    color: rgb(255, 255, 255) ;
}

#result {
    width: 50%;
    margin: 20px auto;
}

#result-area {
    text-align: center;
}

@media (max-width: 700px){
    header, #info {
        width: 90%;
    }
}